body{
    background-image: url('/DrumPlayer/Images/bg.jpg');
}

.drums{
    padding: 20px;
    background: #fff;
    font-weight: bolder;
    font-size: 1.2rem;
    border-radius: 50%;
}

.drums-clicked{
   transform: scale(0.98);
   /* Scaling button to 0.98 to its original size */
   box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);

   background-color: rgb(0, 0, 0);
   color: #fff;
}

.drums:active{
    transform: scale(0.98);
    /* Scaling button to 0.98 to its original size */
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
    background-color: rgb(0, 0, 0);
    color: #fff;
    /* Lowering the shadow */
}

/* @keyframes click{
    from{
        transform: scale(1);
    }

    to{
        transform: scale(0.98);
        box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
    
        background-color: blue;
    }
} */
